
.header {
    margin-top: 64px;
    margin-bottom: 67px;
  }
  
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    gap: 42px;
  }
  
  .header__container .nav-list .nav-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    transition: all 1s;
  }
  
  .header__container .nav-list .nav-item a {
    text-decoration: none;
    color: rgba(51, 49, 54, 1);
  }
  
  /* header end */